<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-4 text-right">
        <h2>MYCHAT</h2>
    </div>
    <div class="col-md-4 text-right">
        <a href="/users/logout" class="btn btn-secondary" type="submit">Logout</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 my-2">
        <div class="card card-body bg-light" style="max-height: 80vh; overflow-y: auto;">
            <h2>Online Users</h2>
            <ul id="users" class="list-group"></ul>
        </div>
    </div>
    <div class="col-md-8 my-2">
        <div id="chat" class="list-group" style="height: 400px; overflow-y: auto;"></div>
        <form id="messageForm">
            <div class="form-group my-2">
                <label for="message">Enter message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
                <input class="btn btn-primary my-2" type="submit" value="Send"/>
            </div>   
        </form>             
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(()=>{
        const socket = io.connect();
        let $messageForm = $('#messageForm');
        let $message = $('#message');
        let $chat = $('#chat');
        let $users = $('#users');
        var newUser = "<%= user.name %>"; 
        socket.emit("newUserToServer",newUser);
        
        const SAD_EMOJI = [9785, 65039];
        const HAPPY_EMOJI = [55357, 56898];
        const NEUTRAL_EMOJI = [55357, 56848];
        
        $messageForm.submit((event)=>{
            event.preventDefault();
            console.log("Form submitted!");

            const newMsg = $message.val();
            socket.emit("newMessageToServer",newMsg);
            $message.val('');
        });

        $message.keypress(function(event){
            if(event.which === 13 && event.shiftKey == false){
                console.log("Form submitted!");
                const newMsg = $message.val();
                socket.emit("newMessageToServer",newMsg);
                $message.val('');
            }
        });        

        socket.on('usersToClients',(data)=>{
            let html = '';
            for(i=0;i<data.length;i++){
                html += `<li class="list-group-item">${data[i]}</li>`
            }
            $users.html(html);
        });        

        socket.on('messageToClients',(data)=>{
            const mood = data.sentiment > 0 ? HAPPY_EMOJI : (chat.sentiment === 0 ? NEUTRAL_EMOJI : SAD_EMOJI);
            $chat.append(`<div class="list-group-item list-group-item-action flex-column align-items-start mb-1" style="max-width: 46rem;"><div class="d-flex w-100 justify-content-between"><h5 class="mb-1">${data.user}</h5><small id="emoji1">${String.fromCharCode(mood[0], mood[1])}</small></div><p class="mb-1">${data.msg}</p></div>`);
        });
                
    })
</script>
