<div id="messageArea" class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Online Users</h3>
            <ul class="list-group" id="users"></ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="chat" id="chat"></div>
        <form id="messageForm">
            <div class="form-group">
                <label>Enter message</label>
                <textarea class="form-control" id="message"></textarea>
                <br/>
                <input class="btn btn-primary" type="submit" value="Send"/>
            </div>
        </form>
    </div>            
</div>

<script>
(function(){
    console.log('inside chat');
})();
</script>